<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Edit User</legend>
			<table>
				<tr>
					<td>ID</td>
					<td><input type="text" name="id" value=<%= user[0].id %> readonly></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username" value=<%= user[0].username %>></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" value=<%= user[0].password %>></td>
				</tr>
				
				<tr>
					<td>Type</td>
					<td><input type="text" name="type" value=<%= user[0].type %>></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Update"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>