<link href="/public/assets/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
<link href="/public/assets/css/app.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Booky.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/customer"><i class="fa fa-home"></i>  Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customer/profile"><i class="fa fa-user"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-history"></i>  History</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-danger btn-sm" ><i class="fa fa-sign-out"></i>  Log Out</a>               
        </li>
      </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li class="btn btn-success btn-sm">Name</li>
                <li><button class="btn btn-success btn-sm">Author</button></li>
                <li><button class="btn btn-success btn-sm">Genre</button></li>
              </ul>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit"><i class="fa fa-search"></i> Search</button>
        </form>


        <a href="/customer/cart" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-shopping-cart"></i> Cart<span class="badge badge-light"><div id="cartItemNumber"> <%=cartItemNumber%></div></span></a>

        
    </div>
  </nav>

<script src="/public/assets/js/bootstrap.js"></script>
<script src="/public/assets/js/jquery-3.5.1.js"></script>
<script src="/public/assets/js/app-ui.js"></script>
